.idea
.vscode
.DS_Store

/htdocs

/data/mysql
!/data/mysql/.gitkeep

/etc/nginx/conf.d/*
!/etc/nginx/conf.d/default.conf

/logs/*
!/logs/.gitkeep

/etc/apache2/ssl/*

!.gitkeep
/docker-compose.yml
/Dockerfile